$primary-color: #00ADCD; // Color azul para títulos
$secondary-color: #ff5722; // Color de botón primario
$background-color: #f8f9fa; // Fondo gris claro
$text-color: #343a40; // Texto gris oscuro
$text-light-color: #ffffff; // Texto blanco para el footer
$text-muted-color: #6c757d; // Color de texto secundario
$dark-color: #343a40; // Fondo oscuro para el footer
$light-color: #f8f9fa; // Un color claro, puedes ajustar el valor según sea necesario.
$danger-color: #dc3545;