@use '../abstracts/variables';

.contact-section {
    padding: 2rem;
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrar el contenedor */
}

.form-title {
    text-align: center;
    font-size: 2rem;
    color: variables.$primary-color;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;

    &__group {
        margin-bottom: 1.5rem;
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        color: variables.$text-color;
    }

    &__input,
    &__textarea {
        width: 100%; /* Ancho completo */
        padding: 0.5rem; /* Espaciado interno */
        border: 1px solid variables.$accent-color; /* Borde */
        border-radius: 4px; /* Bordes redondeados */
        color: variables.$text-color;
        background-color: variables.$light-color;
    }

    &__textarea {
        resize: none; /* Deshabilitar el redimensionamiento */
        height: 150px; /* Altura fija para el área de texto */
    }

    &__button {
        background-color: variables.$secondary-color;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%; /* Ancho completo del botón */

        &:hover {
            background-color: darken(variables.$secondary-color, 10%);
        }
    }
}

.map-container {
    width: 100%; /* Asegura que el contenedor del mapa sea ancho completo */
    margin-top: 2rem;

    &__label {
        display: block;
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        color: variables.$primary-color;
    }

    &__iframe {
        width: 100%; /* Ancho completo del iframe */
        height: 450px;
        border: 0;
    }
}

// Media Queries
@media (max-width: 768px) {
    .contact-section {
        padding: 1rem;
    }

    .form-title {
        font-size: 1.5rem;
    }

    .container {
        padding: 0;
    }

    .contact-form {
        &__group {
            margin-bottom: 1rem;
        }
    }

    .map-container {
        margin-top: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contact-section {
        padding: 2rem;
    }

    .form-title {
        font-size: 1.75rem;
    }
}

@media (min-width: 1025px) {
    .contact-section {
        padding: 2rem;
    }

    .form-title {
        font-size: 2rem;
    }
}


