@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
    background-color: variables.$light-color; // Color del fondo del navbar
    padding: 1rem 2rem; // Espaciado interno

    &__container {
        display: flex;
        align-items: center; // Centrar verticalmente
        justify-content: space-between; // Espacio entre elementos
    }

    &__brand {
        img {
            height: 50px; // Altura del logo
        }
    }

    &__nav {
        display: flex; // Hacer que los enlaces se alineen horizontalmente
        gap: 2rem; // Espacio entre los enlaces

        &__link {
            color: variables.$primary-color; // Color de los enlaces
            text-decoration: none; // Sin subrayado

            &:hover {
                color: variables.$dark-color; // Cambiar color al pasar el mouse
            }
        }
    }

    &__button {
        background-color: variables.$danger-color; // Color del botón
        color: white; // Color del texto del botón
        padding: 0.5rem 1rem; // Espaciado interno del botón
        border: none; // Sin borde
        border-radius: 5px; // Bordes redondeados

        &:hover {
            background-color: darken(variables.$danger-color, 10%); // Color del botón al pasar el mouse
        }
    }
}

