@use '../abstracts/variables';
@use '../abstracts/mixins'; 

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.section-title {
    text-align: center; // Centrar el título
    font-size: 2rem; // Tamaño del título
    color: variables.$primary-color; // Color del título
    margin-bottom: 1.5rem; // Espacio inferior
}

.section-description {
    text-align: center; // Centrar el texto de descripción
    font-size: 1rem; // Tamaño del texto de descripción
    color: variables.$text-muted-color; // Color del texto de descripción
    margin-bottom: 2rem; // Espacio inferior
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        background-color: #ffffff;
        border: 1px solid variables.$accent-color;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        margin: 1rem;
        flex: 1 1 calc(23% - 2rem);
        transition: transform 0.3s;

        &:hover {
            transform: translateY(-5px);
        }

        &__image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 4px;
        }

        &__title {
            font-size: 1.25rem;
            color: variables.$secondary-color;
            margin: 0.5rem 0;
        }

        &__description {
            font-size: 0.9rem;
            color: variables.$text-muted-color;
        }
    }
}

@media (max-width: 768px) {
    .cards-section {
        .card {
            flex: 1 1 100%;
            margin-bottom: 1rem;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cards-section {
        .card {
            flex: 1 1 calc(48% - 1rem);
        }
    }
}

@media (min-width: 1025px) {
    .cards-section {
        .card {
            flex: 1 1 calc(23% - 2rem);
        }
    }
}
